<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="dk.illution.computer.info"
		android:versionCode="1"
		android:versionName="1.0" >

		<uses-sdk
				android:minSdkVersion="14"
				android:targetSdkVersion="15" />

		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.GET_ACCOUNTS" />
		<uses-permission android:name="android.permission.USE_CREDENTIALS" />

		<application
				android:name="ComputerInfo"
				android:icon="@drawable/ic_launcher"
				android:label="@string/app_name"
				android:theme="@style/AppTheme" >
				<activity
						android:name=".Preferences"
						android:label="@string/preferences"
						android:logo="@drawable/preferences" />
				<activity
						android:name=".LoginSelectActivity"
						android:label="@string/computer_info"
						android:logo="@drawable/secure" >
						<intent-filter>
								<action android:name="android.intent.action.MAIN" />
						</intent-filter>
				</activity>
				<activity
						android:name=".LoginActivity"
						android:label="@string/computer_info"
						android:logo="@drawable/secure" >
				</activity>
				<activity
						android:name=".ComputerListActivity"
						android:label="@string/app_name"
						android:logo="@drawable/computer" >
						<intent-filter>
								<action android:name="android.intent.action.MAIN" />
								<category android:name="android.intent.category.LAUNCHER" />
						</intent-filter>
				</activity>
				<activity
						android:name=".ComputerDetailActivity"
						android:label="@string/app_name"
						android:logo="@drawable/computer" >
						<meta-data
								android:name="android.support.PARENT_ACTIVITY"
								android:value=".ComputerListActivity" />
				</activity>
				<activity
						android:name=".PrinterListActivity"
						android:label="@string/title_printer_list" >
						<intent-filter>
								<action android:name="android.intent.action.MAIN" />
						</intent-filter>
				</activity>
				<activity
						android:name=".PrinterDetailActivity"
						android:label="@string/title_printer_detail" >
						<meta-data
								android:name="android.support.PARENT_ACTIVITY"
								android:value=".PrinterListActivity" />
				</activity>
		</application>

</manifest>